<app-login-alert  *ngIf="showLoginMsg"></app-login-alert>

<div class="mt-4" >
  <div class="head d-flex justify-content-between my-3 ">
    <h4 class="lead">Country List </h4>
    <div class="button">
      <button class="btn btn-primary mx-3" routerLink='/add-city'>Add New City</button>
      <button class="btn btn-primary" routerLink='/add-country'>Add New Country</button>

    </div>
  </div>

  <table class="table table-hover text-center  border">
    <thead>
        <tr class="thead-dark ">
            <th scope="col">Country ID</th>
            <th scope="col">Country</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <!-- <td colspan="5" class="alert alert-danger" *ngIf='error$ | async as
            error'>{{error}}</td> -->
        </tr>
            <tr *ngFor="let country of countryList ">
                <th scope="row" >{{country.id}}</th>
                <td>{{country.name}}</td>
                <th>
                  <button
                  class="btn btn-primary mx-1"
                  routerLink='/edit/{{country.id}}'
                  >Edit</button>

                  <button
                  class="btn btn-danger mx-1"
                  (click)="removeCountry(country.id)"
                  >Delete</button>
                  <button
                  class="btn btn-secondary mx-1"
                  routerLink='/view/{{country.id}}'>
                    View
                  </button>
                </th>
            </tr>
        </tbody>
</table>



</div>
